/* D3 Classes */
.bar {
    fill: #66874c;
}

.bar:hover {
    fill: #131B39;
}

.axis--x path {
    display: none;
}

.custom-tooltip {
    position: absolute;
    z-index: 100;
    visibility: hidden;
    font-size: 20pt;
    color: black;
    background-color: white;
    border-style: solid;
    border-color: #131B39;
}